# Files
*.xlsx
*.csv
#*.pdf
*.html
*.log
*.docx
*.svg
*.gz
*.zip

# Directories
data/
raw/git add 
.Rproj.user
code/old/
text/
results/
Download/
malefertilityforecast-master/

# Files
code/worldmap.R
code/plot_jalovaara2019.R
code/plot_figures_global_fertility.R
